<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/glass.png` | relURL }}" class='feather text-violet feather-big' width="4em" height="4em">
        <h2 class="h2">Robust Search <small class="d-none">🛡️</small></h2>
        <p>Swiftly navigate through a vast array of courses. We provide a 
            tailored and insightful experience for seamless discovery of educational opportunities.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/customize.png` | relURL }}" class='feather text-violet feather-big' width="4em" height="4em">
        <h2 class="h2">Customized Experience <small class="d-none">🚀</small></h2>
        <p>Quickly plan your next semester with our school-based degree audit. Search through classes based on
            your major and see what classes you need to take to graduate.</p>
        </p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/calendar-icon.png` | relURL }}" class='feather text-violet feather-big' width="4em" height="4em">
        <h2 class="h2">Visualization Tools <small class="d-none">📈</small></h2>
        <p>Personalize your class calendar before swiftly exporting to Google Calendar or iCalendar. Includes time, teacher, and 
            location.
        </p>
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Detailed Class Pages <small class="d-none">🦉</small></h2>
        <p>Teachers customize their class pages to post and advertise their class to potential students.
            Incredibly informative and easy to use so students can securely choose their classes.
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Portal Management <small class="d-none">✨</small></h2>
        <p>Powerful and feature-packed portal for teachers to manage their class registration, prerequisite requirements, assign teacher assistants, etc.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Clear Communication <small class="d-none">🧰</small></h2>
        <p>Communicate with all enrolled students through class-wide announcements to provide them with important updates and resources.</p>
    </div>
</div>
